<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "YelpMVP", root_path, class: "navbar-brand" %>
    <%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-outline-success"%>
  </div>
</nav>
