<h1>Restaurants#show</h1>
<%= render "form",restaurant: @restaurant %>
<h2>Reviews</h2>
<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= review.content %>
      <span class="badge bg-primary rounded-pill"><%= review.rating %></span>
    </li>
  <% end %>
</ul>
